<html>
  <body>
    <h1 class = "headline">ようこそ<span class="headline-booker">Bookers</span>へ！</h1>

    <p>
      <span class="message-booker">Bookers</span>では、さまざまな書籍に関するあなたの意見や</p>
    <p>
      印象を共有し交換することができます。</p>
    <p>
      <%= link_to 'Start', books_path %>
    </p>
  </body>
</html>

<!--
  <head>

    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
    <script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>
  <title>WebCampBackendNew</title><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="JAj/fqh4ASnUdP1JSjv+qWA7e3oW0ZfKsclJ1k9/jiIMm4fip638NYDRBtiwQygpBrbqXSOaFHmc02uKqFF14A=="></head>

  <body data-new-gr-c-s-check-loaded="14.980.0" data-gr-ext-installed="">
    <h1>ようこそ <strong>Bookers</strong>  へ！</h1>
<p><strong>Bookers</strong>  では、さまざまな書籍に関するあなたの意見や</p><p>印象を共有し交換することができます</p>
<p><a href="/books">start</a></p>
-->